.card {
    height: 26vw; /* Altura relativa al ancho del viewport */
    margin: 20px;
    box-shadow: 5px 5px 20px rgb(20, 19, 19);
    overflow: hidden;
}

.intro {
    height: 14%; /* Altura relativa al contenedor padre (la tarjeta) */
    width: 100%; /* Ancho del contenedor padre */
    padding: 6px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    background: rgb(130, 5, 130);
    color: rgb(11, 9, 9);
    transition: .5s;
}

.card:hover .intro {
    height: 45%; /* Altura relativa al contenedor padre (la tarjeta) */
    bottom: 0;
    background: linear-gradient(rgb(153, 8, 179), rgb(47, 3, 75));
}

@media (max-width: 1280px) {
    .card {
        height: 39vw; /* Cambiar altura relativa en pantallas más pequeñas */
    }

    .intro {
        height: 14%; /* Ajustar altura relativa en pantallas más pequeñas */
    }
}

@media (max-width: 480px) {
    .card {
        height: 125vw; /* Cambiar altura relativa en pantallas aún más pequeñas */
    }
    .card:hover .intro {
        height: 55%;
    }

    .intro {
        height: 14%; /* Ajustar altura relativa en pantallas aún más pequeñas */
    }
}
